<div class="container">
    <div class="info-container">
        Insert some random download data by:
        <pre>{{ insertText }}</pre>
    </div>
    <div class="map-container">
        <agm-map [zoom]="2">
            <agm-marker *ngFor="let download of downloads" [latitude]="download.latitude" [longitude]="download.longitude">
            </agm-marker>
        </agm-map>
    </div>
</div>
